
:root {
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}



.container {
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #d48080, #ffb88c); */
    background-image: linear-gradient(to right top, #d1c43e, #c5cf4d, #b8da5f, #abe473, #9ded88, #8ae693, #7ade9c, #6dd6a4, #62bc9e, #5da292, #5d8882, #5e6f6e);
    /* background-image: linear-gradient(to right top, #d16ba5, #ca78bb, #bf85cf, #b193e0, #a1a0ed, #8cacf7, #76b8fd, #62c3ff, #45d0ff, #2fddfd, #35e8f5, #52f2e8); */
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 25px 5px rgba(110, 104, 104, 0.7);
}

.todo-app h2 {
    color: #ffffff;
    display: flex;
    font-size: 30px;
    align-items: center;
    margin-bottom: 50px;
}

.todo-app h2 img {
    width: 40px;
    margin-right: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #a3c3c5;
    border: 2px solid rgb(18, 241, 130);
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    /* flex: 1; */
    border: none;
    outline: none;
    color: #000;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    font-size: 20px;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.678);
    font-size: 20px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #2fc550;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}

button:hover{
    background-color: #4b8a49;
    color: #fff;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url('images/icon.png');
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url('images/check.png');
    height: 50px;
    width: 50px;
    margin-top: -8px;
    margin-left: -10px;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background: #edeef0;
}

/* Responsive Design  */

@media (max-width:760px) {
    .container {
        height: 100%;
        width: 100%;
    }

    .row {
        max-width: 400px;
    }

    button {
        max-width: 400px;
        padding: 10px;
        font-size: 15px;
    }
}
